<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Bloqueio</title>
</head>
<body>
    <h1>Novo Bloqueio</h1>

    <form th:action="@{/psicologo/bloqueio/novo}" method="post">

        <label>Data:</label>
        <input type="date" name="data" required>

        <label>Hora início:</label>
        <input type="time" name="horaInicio" required>

        <label>Hora fim:</label>
        <input type="time" name="horaFim" required>

        <label>Motivo:</label>
        <input type="text" name="motivo" required>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>